In [2]:
import pandas as pd
import numpy as np
from sklearn.metrics import classification_report, f1_score, precision_score, recall_score, accuracy_score

In [25]:
results='./results-output/test_results.tsv'
labels='../data/GPT2/dev.tsv'

In [26]:
results_data = pd.read_csv(results,sep='\t',header=None)

In [27]:
results_data

              0         1
0      0.000045  0.999955
1      0.999882  0.000118
2      0.000056  0.999944
3      0.999877  0.000123
4      0.901299  0.098701
...         ...       ...
99995  0.759087  0.240913
99996  0.998909  0.001091
99997  0.972593  0.027407
99998  0.000052  0.999948
99999  0.005550  0.994450

[100000 rows x 2 columns]

In [17]:
labels = pd.read_csv(labels,sep='\t',header=None)

In [18]:
labels

,0,1,2,3
0,bootliquor,1,,Now Playing: ♬ Dick Curless - Evil Hearted Me ...
1,Ambitions1992,0,,Not only are you comfortably swaddled in secur...
2,AriesWeAre,1,,Follow @iAmMySign !!! Follow @iAmMySign our o...
3,iamthemaven,0,,These strawberry sandwich cookies are so easy ...
4,Hilarious_Idiot,0,,Do These Two Lines Match Up On Your Hands Here...
...,...,...,...,...
99995,caneloacosta,0,,I Love The World Cup !!
99996,hiddenboston,0,,CONFIRMED: Today is it for the season for one ...
99997,BlaqueeStallion,0,,Stack that paper up &amp; then make boss moves...
99998,IntPicks,1,,Wednesday Free Pick is Live! #freepicks #freet...
99999,BOS_DealFinder,1,,Download Monster Hunter Generations Ultimate t...

In [28]:
results_data = np.argmax(results_data.values,axis=1)

In [29]:
results_data

array([1, 0, 1, ..., 0, 1, 1])

In [22]:
labels_data = labels[1].values

In [23]:
labels_data

array([1, 0, 1, ..., 0, 1, 1])

In [30]:
print(classification_report(labels_data,results_data))
print(f1_score(labels_data,results_data, average="weighted"))
print(precision_score(labels_data,results_data, average="weighted"))
print(recall_score(labels_data,results_data, average="weighted"))
print(accuracy_score(labels_data,results_data))

              precision    recall  f1-score   support

           0       0.86      0.90      0.88     55712
           1       0.86      0.81      0.84     44288

    accuracy                           0.86    100000
   macro avg       0.86      0.85      0.86    100000
weighted avg       0.86      0.86      0.86    100000

0.8585041343254908
0.8591986269542322
0.85904
0.85904